

.portfolio .info {
    border-left: 6px solid brown;
    border-bottom: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .info div {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: brown;
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

a {
    text-decoration: underline !important;
    color: brown;
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: 20px 0;
    font-family: 'Lobster', cursive;
}

.portfolio .info p {
    color: #666;
    font-size: 18px;
}